.list-user{
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all 200ms linear;
}
.list-user:hover{
    border: 1px solid rgba(0, 255, 255, 0.153);
    box-shadow: 0px 0px 6px -5px cyan;
}
.list-user>a{
    padding: 1em;
    color: var(--font-colo-primary);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}
.list-user>a>section:first-child{
    width: 100px;
    display: flex;
    justify-content: end;
}
.list-user>a>section{
    flex: 1;
    margin: 10px;
}
.list-user>a>section>div{
    width: 50px;
}