@media screen and (min-width:660px) {
    #index-content>section:first-child{
        padding: 1em;
    }
    #index-content::-webkit-scrollbar{
        width: 10px;
    }
    #index-content::-webkit-scrollbar-thumb{
        transition: all 200ms linear;
    }
    #index-content::-webkit-scrollbar-thumb:hover{
        background-color: rgb(16, 63, 63);
        border-radius: 10px;
    }
}
@media screen and (max-width:660px) {
    #index-content::-webkit-scrollbar{
        width: 0px;
    }
}
#index-home{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    max-height: 100vh;
    width: 100%;
}
#index-home>section:first-child{
    top: 0;
    height: 45.5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
#index-home>section:first-child>form{
    display: flex;
    flex-flow: row nowrap;
    width: 100;
    outline: 1px;
    box-shadow: var(--shadow-box-primary);
    border-radius: 2px;
    z-index: 99;
}
#index-home>section:first-child>form>input{
    outline: none;
    height: 100%;
    padding: 0.5em;
    color: var(--font-color-primary);
}
#index-home>section:first-child>form>button{
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#index-home>section:first-child>form>button>svg{
    font-size: 15px;
    color: var(--font-color-primary);
}
#index-home>section:last-of-type{
    height: 100%;
}

#index-content{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}
#index-content>section:first-child{
    flex: 1;
}
#div-busqueda{
    z-index: 9999;
    position: absolute;
    top:100%;
    width: 50%;
    background: var(--background-tertiary);
    border-radius:0px 0px 5px 5px;
    box-shadow: var(--shadow-box-content);
}
#div-busqueda>ul{
    list-style: none;
    padding: 1em;
}

#create-publicacio-btn{
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 0.5em;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#create-publicacio-btn>svg{
    display: flex;
    align-items: center;
    justify-content: centerc;
    font-size: 40px;
    color: var(--font-color-primary);
}