@media screen and (min-width:660px) {
    #slider-menu{
        transition: all 200ms linear;
        align-items: center;
    }
    #slider-menu>section{
        max-width: inherit;
        overflow: hidden;
    }
    #menu-btn{
        display: flex;
    }
    #slider-menu>section{
        width: 100%;
    }
    #slider-menu>section:first-child>section>nav>ul>li>a>div:last-child{   
        word-wrap: break-word;
    }
    .btn-settings>div:last-child{
        word-wrap: break-word;
    }
}
@media screen and (max-width:660px) {
    #menu-btn{
        display: none !important;
    }
    #slider-menu{
        transform: translateX(0%) !important;
        position: relative !important;
        max-width: 100% !important;
        box-shadow: none !important;
        align-items: center;
    }
    #slider-menu>section:first-child>section>nav>ul>li>a>div:last-of-type{   
        display: block !important;
    }
    .btn-settings>div:last-child{
        display: block !important;
    }
}

#menu-btn{
    color: var(--font-color-primary);
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 6px;
    display: flex;
    left: 0;
    border: none;
    background: none;
    font-size: 15px;
    width: 100%;
    justify-content: end;
    padding: 0.2em;

}
#menu-btn>svg{
    transition: rotate 200ms linear;
}
#slider-menu{
    justify-content: space-between;
    position: relative;
    box-shadow: var(--shadow-box-primary);
    background: var(--backgorund-transparency-secondary);
    color: var(--font-color-primary);
    padding-bottom: 1em;
    transition: all 200ms linear;
    flex-flow: column nowrap;
    display: flex;
}
#slider-menu>a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--font-color-primary);
}
#slider-menu>section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-menu>section:first-child{
    flex-flow: column nowrap;
}
#slider-menu>section:first-child>section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slider-menu>section:first-child>section>nav{
    box-sizing: border-box ;
    width: 100%;
    padding: 1.5em;
}
#slider-menu>section:first-child>section>nav>ul{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}
#slider-menu>section:first-child>section>nav>ul>li{
    width: 100%;
    transition: all 200ms ease-in-out,background 200ms linear;
}
#slider-menu>section:first-child>section>nav>ul>li:hover{
    background-color: gray;
    transform: scale(1.1);
}
#slider-menu>section:first-child>section>nav>ul>li>a{
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: min-content;
    color: var(--font-color-primary);
    position: relative;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div{
    display: flex;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div:last-of-type{
    min-width: 100px;
    max-width: 150px;
    padding: 10px;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div:first-child{
    min-width: 50px;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div>svg{
    width: 100%;
    font-size: 25px;
}

#slider-menu>section:last-child{
    padding: 1.5em;
}
#slider-menu>section:last-child>ul{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4em;
    list-style: none;
}

.btn-settings{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    border: none;
    background: none;
    align-items: center;
    transition: all 200ms linear;
    color: var(--font-color-primary);
    text-decoration: none;
    min-height: 50px;
}
.btn-settings>div:first-of-type{
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-settings>div:last-of-type{
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: start;
    text-align: start;
    padding: 10px;
}
.btn-settings>div>svg{
    font-size: 25px;
    color: var(--font-color-primary);
}
.btn-settings:hover{
    background-color: gray;
    transform: scale(1.1);
}
.borderRadius-1{
    border-radius: 0%;
}
.borderRadius-0{
    border-radius: 100%;
}
.borderRadius-0:hover,.borderRadius-1:hover{
    border-radius: 5px;
}