@media screen and (min-width:660px) {
    #slider-menu{
        background-color: white;
        transition: all 200ms linear;
    }
    #menu-btn{
        display: flex;
    }
}
@media screen and (max-width:660px) {
    #menu-btn{
        display: none;
    }
    #slider-menu{
        transform: translateX(0%) !important;
        position: relative !important;
        
    }
}

#menu-btn{
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 5px;
    left: 100%;
    border: none;
    background: none;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
#slider-menu{
    min-width: 250px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 5px -2px black;
}
#slider-menu>a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#slider-menu>section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider-menu>section:first-child{
    flex-flow: column nowrap;
}
#slider-menu>section:first-child>section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slider-menu>section:first-child>section>nav{
    width: 100%;
    padding: 3em;
}
#slider-menu>section:first-child>section>nav>ul{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}
#slider-menu>section:first-child>section>nav>ul>li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms linear,background 200ms linear;
    border-radius: 0;
}
#slider-menu>section:first-child>section>nav>ul>li:hover{
    background-color: gray;
    border-radius: 5px;
    transform: scale(1.1);
}
#slider-menu>section:first-child>section>nav>ul>li>a{
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: min-content;
    color: black;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div{
    display: flex;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div:last-child{
    min-width: 100px;
    max-width: 150px;
    padding: 10px;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div:first-child{
    min-width: 50px;
}
#slider-menu>section:first-child>section>nav>ul>li>a>div>svg{
    width: 100%;
    font-size: 25px;
}

#slider-menu>section:last-child{
    display: flex;
    flex-flow: column nowrap;
    height: max-content;
}
#slider-menu>section:last-child>ul{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    padding-bottom: 1em;
}
#slider-menu>section:last-child>ul>li{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#slider-menu>section:last-child>ul>li>button{
    width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 1em;
    transition: all 200ms linear;
}
#slider-menu>section:last-child>ul>li>button>div{
    width: 50%;
}
#slider-menu>section:last-child>ul>li>button>div:last-child{
    text-align: center;
}
#slider-menu>section:last-child>ul>li>button>div>svg{
    font-size: 25px;
}
#slider-menu>section:last-child>ul>li>button:hover{
    background-color: gray;
    transform: scale(1.1);
    border-radius: 5px;
}