#notfi-div{
    width: 100%;
    display: grid;
    position: relative;
}
#notfi-div>section{
    max-height:100vh;
    overflow-y: scroll;
    color: var(--font-color-primary);
}
#notfi-div>section>ul{
    list-style: none;
    padding: 4em;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.list-noti{
    color: var(--font-color-primary);
    position: relative;
    min-height: 200px;
    display: flex;
    flex-flow: column;
    gap: 1em;
}
.list-noti:hover>div{
    display: flex;
    border: 2px solid black;
    transition: all 200ms linear;
    animation: op 300ms linear backwards;
    border-radius: 10px;
}
.list-noti:hover>div>button:hover>svg{
    color: var(--font-color-tertiary);
}
.list-noti>section:first-child{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 20px;
    padding: 0.5em;
}
.list-noti>section:first-child>section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-noti>section:first-child>section:last-child{
    font-size: 10px;
    color: var(--font-color-secondary);
}
.list-noti>section:nth-child(2){
    max-height: 50px;
    padding: 1.5em;
    color: var(--font-color-text-primary);
}
.list-noti-buttons{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.list-noti-buttons>button{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 30px;
    padding: 1em;
    transition: all 200ms linear;
    color: var(--font-color-primary);
}
.list-noti-buttons>button:hover{
    background-color: rgb(48, 111, 118);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

@keyframes op {
    to{
        opacity: 1;
    }from{
        opacity: 0;
    }
}