#buscadro-index{
    position: relative;
    height: inherit;
    width: 100%;    
}
#buscadro-index>div:first-child{
    display: flex;
    flex-flow: row nowrap;
    z-index: 9999;
}
#buscadro-index>div:first-child>*{
    flex: 1;
    padding: 1em;
    color: var(--font-color-primary);
    text-decoration: none;
    text-align: center;
}
#buscadro-index>div:last-child{
    max-height: inherit;
    overflow-y: scroll;
    max-height: 92vh;
}
.resultado-search{
 position: absolute;
 top: 50%;   
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 color: var(--font-color-primary);
}