#Publicacion-select{
    width: 100%;
    height: 100%;
    display: grid;
}
#Publicacion-select-content{
    max-height: 100vh;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
    padding: 1em;
}
#Publicacion-select-content>div:first-of-type{
    width: 100%;
    height: 40px;
}
#Publicacion-select-content>div:first-of-type>button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    font-size: 20px;
    color: var(--font-color-primary);
}
#Publicacion-select-content>section{
    flex: 1;
}
#Publicaciones{
    position: relative;
    min-height: 350px;
    display: flex;
    flex-flow: column nowrap;
}
#Publicaciones::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    /* background-color: rgba(0, 0, 0, 0.522); */
    border-radius: 5px;
}

#Publicaciones>div{
    height: 100%;
}
#Publicaciones>div>div:nth-child(3){
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0.5em;
}
#Publicaciones>div>div:nth-child(3)>div:first-child{
    position: relative;
    flex: 1;
}
#comentarios{
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}
#comentarios>ul{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    box-sizing: border-box;
}
#send-comment{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 40px;
}
#send-comment>form{
    height: 100%;
    width: 350px;
    display: flex;
    box-sizing: border-box;
    gap: 1em;
}
#send-comment>form>input{
    flex: 1;
    border: 2px solid rgba(0, 0, 0, 0.313);
    border-radius: 5px;
    outline: none;
    padding: 1em;
    color: var(--font-color-primary);
}
#send-comment>form>input:focus{
    border: 2px solid cyan;
}
#send-comment>form>button{
    padding: 1em;
    border: 2px solid rgba(0, 0, 0, 0.379);
    background-color: rgb(42, 149, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#send-comment>form>button:hover{
    background-color: cyan;
}